.schema {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  /* position: relative; */
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
